[submodule "KernelSU-Next"]
path = KernelSU-Next
url = https://github.com/kingdom12-36/KernelSU-Next
branch = legacy-susfs

[submodule "KernelSU"]
path = KernelSU
url = https://github.com/tiann/KernelSU
branch = main

[submodule "SukiSU"]
path = SukiSU
url = https://github.com/SukiSU-Ultra/SukiSU-Ultra
branch = main

